<html>
    <head>
        {% if title %}
        <title>{{ title }} - photograph</title>
        {% else %}
        <title>photograph</title>
        {% endif %}
    </head>
    <body>
        <div>
            photograph:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('logout') }}">Logout</a>   
            <a href="{{ url_for('post') }}">Post</a> 
            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
